<div id="home">
    <div class="container">
        <div class="home">
            <img class="relax-img" src="{{ assets }}img/scooby_logo.svg" alt="Foto de uma pessoa relaxando na praia">
            <h2 class="center">
                <b>ScoobY Framework</b>
            </h2>
            <h3>
                {{ wellcomeMessage }}
            </h3>
            <footer class="">
                <span class="right footer-msg"> Feito em <i class="green-text"><strong>PG</strong></i> com muito <i
                        class="material-icons right red-text">favorite</img></span>
            </footer>
        </div>
    </div>
</div>